{% extends "layout.html" %}
{% block content %}

<div class="main_container3 py-5" style="background-color: #f5f5dc;">
  <div class="container" style="background-color: #f5f5dc;">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4 mb-4 text-primary">Explore Bodhgaya Bihar</h1>
        <p class="lead text-secondary"></p>
      Bodhgaya, located in Bihar, India, is one of the most important and sacred Buddhist pilgrimage sites in the world. It is the place where Siddhartha Gautama, who later became known as Buddha, attained enlightenment under the Bodhi Tree. The Mahabodhi Temple, a UNESCO World Heritage Site, stands at this location and attracts millions of visitors and pilgrims from around the globe. The serene environment, historical significance, and spiritual ambiance make Bodhgaya a must-visit destination for those seeking peace and enlightenment.
      </div>
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='assets/Webpage_pics/bodhgaya_sight2.jpg') }}" class="img-fluid rounded shadow" alt="Bodhgaya">
      </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="display-5 mb-4 text-primary">Why Bodhgaya is Famous</h2>
      <p class="lead text-secondary">.</p>
    Bodhgaya is famous for being the place where Siddhartha Gautama, who later became known as Buddha, attained enlightenment under the Bodhi Tree. The Mahabodhi Temple, a UNESCO World Heritage Site, is located here and is one of the most important and sacred Buddhist pilgrimage sites in the world. The temple complex includes several ancient structures, stupas, and monasteries that attract millions of visitors and pilgrims from around the globe. The serene environment, historical significance, and spiritual ambiance make Bodhgaya a must-visit destination for those seeking peace and enlightenment.
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="display-5 mb-4 text-primary">What to Do</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/Meditate21.jpg') }}" class="card-img-top" alt="Meditation under buddha tree">
            <div class="card-body">
              <h5 class="card-title text-primary">Meditate</h5>
              <p class="card-text text-secondary"></p>
            Meditate under the sacred Bodhi Tree and experience its serene energy.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/visit_temple_interior.jpg') }}" class="card-img-top" alt="Temple interior">
            <div class="card-body">
              <h5 class="card-title text-primary">Visit Temple</h5>
                <p class="card-text text-secondary">Visit the interior of the incredible Buddha temple.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/Buddha_sight.jpg') }}" class="card-img-top" alt="Buddha Pound">
            <div class="card-body">
              <h5 class="card-title text-primary">Relax</h5>
              <p class="card-text text-secondary">Enjoy the view of beautiful buddha statue and pound</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="display-5 mb-4 text-primary">What to Eat</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/pad_thai_food.webp') }}" class="card-img-top" alt="Thai Food">
            <div class="card-body">
              <h5 class="card-title text-primary">Thai Food</h5>
              <p class="card-text text-secondary">A traditional thai dish made with layers of eggplant, ground meat, and béchamel sauce.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/momos.webp') }}" class="card-img-top" alt="Momos">
            <div class="card-body">
              <h5 class="card-title text-primary">Momos</h5>
                <p class="card-text text-secondary">Momos are a type of steamed dumpling filled with vegetables or meat, popular in Tibetan, Nepalese, and Indian cuisine.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/Dosa.avif') }}" class="card-img-top" alt="Dosa">
            <div class="card-body">
              <h5 class="card-title text-primary">Dosa</h5>
              <p class="card-text text-secondary"></p>
            Dosa is a popular South Indian dish made from fermented rice and lentil batter, typically served with chutney and sambar.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="display-5 mb-4 text-primary">Where to Stay</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/marasa_sarovar.jpg') }}" class="card-img-top" alt="Marasara Sarovar">
            <div class="card-body">
              <h5 class="card-title text-primary">Marasara Sarovar</h5>
              <p class="card-text text-secondary">A luxurious hotel with stunning views of the bodhgaya and private balconies.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/the_royal_residency.jpg') }}" class="card-img-top" alt="The Royal Residency">
            <div class="card-body">
              <h5 class="card-title text-primary">The Royal Residency</h5>
              <p class="card-text text-secondary">A boutique hotel offering a relaxing atmosphere</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm hover-scale border-primary">
            <img src="{{ url_for('static', filename='assets/Webpage_pics/hyatt_place.jpg') }}" class="card-img-top" alt="Hyatt place">
            <div class="card-body">
              <h5 class="card-title text-primary">Hyatt place</h5>
              <p class="card-text text-secondary">A family-friendly hotel with easy access to local attractions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}